# Server Port \uACE0\uC815 (Client \uB2E8\uC77C \uC9C4\uC785\uC810\uC73C\uB85C \uBCC0\uACBD\uB418\uBA74 \uC548\uB418\uB294 \uC18D\uC131)
server:
  port: 8000
spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://SWCAMP-USER-SERVICE
              predicates:
                - Path=/api/v1/user-service/**
              filters:
                - RewritePath=/api/v1/user-service/(?<segment>.*), /$\{segment}
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: vhWh6NdgKGT0RwxIJK+K5OyxJjxiR1KFwXOt/ai69+oV8FLLM9mQSHxSpluEGG/4UzHER86fKZetF+zi+B8sNw==
  expiration: 1800000
  refresh-expiration: 604800000
